.auth__main {
  align-items: center;
  background-color: $primary;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.circle1, 
.circle2{
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  position: absolute;  
}

.circle1{
  top: 10%;
  right: 30%;
}

.circle2{
  bottom: 10%;
  left: 30%;
}

.auth__box-container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  box-shadow: 0px 3px $dark-green;
  border-radius: 2px;
  height: 300px;
  padding: 30px;
  width: 300px;
  z-index: 2;
  }

.auth__title {
  color: darken($color: $primary, $amount: 20);
  margin-bottom: 30px;
}

.auth__input {
  color: $dark-green;
  border: 0px;
  border-bottom: 1px solid $light-green;
  font-size: 16px;
  margin-bottom: 20px;
  height: 30px;
  width: 100%;

  transition: boder-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid $primary;
    outline: none;
  }
}

.auth__social-networks {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.auth__alert-error {
  background-color: red;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}
